<%- include partials/header.ejs -%>

    <nav class="navbar navbar-light bg-white fixed-top shadow-sm ">
        <div>
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td class="p-0">
                            <a href="#" class="navbar-brand" name='userName'>
                                <i class="fas fa-home"></i>
                            </a>
                        </td>
                        <td class="p-0">
                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" />
                        </td>
                        <td class="p-0 pl-2">
                            <p class="mb-0">
                                <%=loginInf.username%>
                            </p>
                            <a href="/logout" style="font-size: small;"><i class="fas fa-sign-out-alt "></i>logout</a>

                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
        <form class="form-inline" onsubmit="return false">
            <div class="input-group">
                <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-addon2">
          <i class="fas fa-search "></i>
        </button>
                </div>
            </div>
        </form>
    </nav>

    <div class="container-fluid gedf-wrapper mt-5 ">
        <div class="row ">
            <div class="col-md-3"></div>
            <div class="col-md-6 gedf-main">
                <!--- \\\\\\\Post Place-->
                <div class="card gedf-card mb-3 mt-4 shadow-sm">
                    <div class="p-4">
                        <form action="/comment" method="post">
                            <div class="form-group">
                                <label class="sr-only" for="message">post</label>
                                <textarea class="form-control" name="comment" id="message" rows="3" placeholder="What are you thinking?"></textarea>
                            </div>
                            <div class="btn-toolbar justify-content-between">
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary">share</button>
                                </div>
                                <small class=" float-right pull-right" id="counter">500 characters remaining</small>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Post Place /////-->

                <!--- \\\\\\\Post-->
                <% users.forEach((user)=>{ %>
                    <div class="card gedf-card shadow-sm">
                        <div class="card-header">
                            <div class="d-flex text-left">
                                <div class="mr-2">
                                    <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" />
                                </div>
                                <div class="ml-2 float-left">
                                    <div class="h5 m-0">
                                        <%=user._username.username%>
                                    </div>
                                    <div class="text-muted h7 mb-2">
                                        <i class="far fa-clock"></i>
                                        <%let postTime= new moment().diff(user.created); if(postTime>60000 && postTime<3600000){ %>
                                            <%= (postTime/60000).toFixed(0); %> minute ago
                                                <%}else{ if (postTime>=3600000 && postTime<86400000){%>
                                                    <%= (postTime/3600000).toFixed(0); %> hour ago
                                                        <%}else{ if(postTime>=86400000){ %>
                                                            <%= (postTime/86400000).toFixed(0); %> day ago
                                                                <%}else{ %>
                                                                    a while ago
                                                                    <% }}}%>
                                    </div>
                                    <div class="small">
                                        <p class="card-text more">
                                            <%=user.comment%>
                                        </p>
                                    </div>
                                    <div>
                                        <a href="/comment/like/<%= user._id%>" class="card-link textsize"><i class="far fa-thumbs-up"></i><%=user.like%></a>
                                        <a href="/comment/dislike/<%= user._id%>" class="card-link textsize"><i class="far fa-thumbs-down"></i> <%=user.dislike%></a>
                                        <a href="#" class="card-link textsize"><i class="fa fa-comment"></i></a>
                                        <a href="#" class="card-link textsize"><i class="fas fa-share"></i></a>
                                        <% if (user._username._id == loginInf.id){ %>
                                            <a href="/comment/delete/<%= user._id%>" class="card-link textsize"><i class="fas fa-trash-alt"></i></a>
                                            <%}%>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <% }) %>
                        <!-- Post /////-->
            </div>
        </div>
    </div>
    <%- include partials/footer.ejs -%>